.invite-container {
      color: #A2D729; /* Text color for the entire invite section */
      font-family: "EB Garamond", serif; /* Font family */
    }
.invite {
      font-size: 4rem; /* Adjust the font size as needed */
      font-weight: bold; /* Optional: Make the text bold */
    }
